
.auto-force-layout {
}

.auto-force-layout .display_none {
    display: none;
}

.auto-force-layout .opacity_none {
    opacity: 0;
}

.auto-force-layout .svgWrapper {
    height: 90%;
    position: relative;
    flex-grow: 1;
}

.auto-force-layout svg.graph-svg {
    box-sizing: border-box;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 5px; */
    border: 1px solid #e8e8e8;
    stroke-width: 1;
    fill: none;
    stroke: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
}

.auto-force-layout svg.graph-svg .edge {
    /*stroke: lightgray;*/
    /*stroke-width: 1.5px;*/
}

.auto-force-layout svg.graph-svg .edge.hovered {
    stroke: black;
    /*stroke-dasharray: 1,1;*/
}

.auto-force-layout svg.graph-svg .node {
    /*cursor: move;*/
    /*fill: #ccc;*/
    stroke: none;
}

.auto-force-layout svg.graph-svg .node.hovered {
    stroke: #000;
    stroke-width: 1.5px;
}

.auto-force-layout svg.graph-svg .node.fixed {
    stroke: yellow;
    stroke-dasharray: 1,1;
}

.auto-force-layout svg.graph-svg .labels text {
    stroke: black;
    stroke-width: 0.3px;
    font-size: 11px;
    pointer-events: none;
}

.auto-force-layout svg.graph-svg.selectionMode .node,
.auto-force-layout svg.graph-svg.selectionMode .edge,
.auto-force-layout svg.graph-svg.selectionMode .labels text {
    opacity: 0.3;
}

.auto-force-layout svg.graph-svg.selectionMode .node.selected,
.auto-force-layout svg.graph-svg.selectionMode .edge.selected,
.auto-force-layout svg.graph-svg.selectionMode .labels text.selected {
    opacity: 1;
}

.auto-force-layout svg.graph-svg .node.removed,
.auto-force-layout svg.graph-svg .edge.removed,
.auto-force-layout svg.graph-svg .labels text.removed {
    display: none;
}

.auto-force-layout .buttonsWrapper {
    height: 10%;
    color: lightgray;
}

.auto-force-layout .buttonsWrapper i {
    font-size: 6vh;
    cursor: pointer;
}

.auto-force-layout .buttonsWrapper i:hover {
    color: black;
}

.auto-force-layout .buttonsWrapper i:active {
    color: red;
}
